alias pstat='pueue status'
alias wg='watch -n 0.1 --color "gpustat --color"'
alias pf='pueue follow'
alias pk='pueue kill'
alias pl='pueue log'
alias pclean='pueue clean'
alias premove='pueue remove'
alias k='kubectl'
alias r='runai'

alias pkall='pueue kill {0..999}'
alias premoveall='pueue remove {0..999}'

alias rlogs='runai logs'
alias rlist='runai list'
alias rdesc='runai describe job'
alias rdel='runai delete job'
alias h='history'
alias hg='history | grep'